body {
    background: black;
    color: white;
}

h1 {
    position: relative;
}

form {
    position: relative;
}

.container {
    position: relative;
}

.container::before {
    content: "";
    background-image: url("amza-andrei-Bss5nhYnLKU-unsplash.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

footer {
    text-align: center;
    position: relative;

}

.contribution {
    text-align: right;
}